.w {
  padding: 10px 0;
  background-color: #8a2be2;
  min-width: 1600px;
  width: 100%;
}
.w .logo {
  position: absolute;
  width: 160px;
  float: left;
  margin-top: 2.5px;
  margin-left: 30px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}
.w .logo a {
  display: inline-block;
  width: 150px;
  height: 45px;
}
.w .logo a img {
  width: 100%;
  height: 100%;
}
.w .look {
  position: relative;
  width: 1200px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 3px 4px 10px -3px #000;
  overflow: hidden;
  box-sizing: border-box;
}
.w .look .time {
  float: left;
  width: 300px;
  text-align: center;
}
.w .look .time h3 {
  line-height: 50px;
  font-size: 16px;
  vertical-align: bottom;
}
.w .look h1 {
  width: 400px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  vertical-align: bottom;
}
.w .look nav {
  width: 200px;
  float: left;
  text-align: center;
  flex-wrap: nowrap;
}
.w .look nav ul {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.w .look nav ul li {
  float: left;
  width: 80px;
  height: 50px;
  line-height: 50px;
  perspective: 500px;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
}
.w .look nav ul li .box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  transform-style: preserve-3d;
  transition: all 0.5s;
  box-sizing: border-box;
  cursor: pointer;
}
.w .look nav ul li .box .font {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ae5cfc;
  z-index: 10;
  transform: translateZ(25px);
  box-sizing: border-box;
}
.w .look nav ul li .box .font a {
  float: left;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.w .look nav ul li .box .font a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}
.w .look nav ul li .box .bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transform: translateY(25px) rotateX(-90deg);
  box-sizing: border-box;
  background-color: #a94eff;
}
.w .look nav ul li .box .bottom a {
  float: left;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.w .look nav ul li .box .bottom a:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}
.w .look nav ul li .box:hover {
  transform: rotateX(90deg);
}
.w .look .userInfo {
  flex: 1;
  width: 300px;
  box-sizing: border-box;
  margin-left: 10px;
}
.w .look .userInfo .headImg {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 5px;
  cursor: pointer;
}
.w .look .userInfo .headImg img {
  width: 100%;
  height: 100%;
}
.w .look .userInfo .UserName {
  float: left;
  margin-left: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
.w .look .userInfo .UserName h1 {
  width: 80px;
  height: 50px;
  padding: 0 3px;
  line-height: 50px;
  margin-left: 10px;
  text-align: left;
  font-size: 12px;
  color: #a94eff;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  overflow: hidden;
}
.w .look .userInfo .Login-Loginout {
  float: left;
  height: 50px;
  margin-left: 5px;
  line-height: 50px;
  box-sizing: border-box;
}
.w .look .userInfo .Login-Loginout a {
  display: inline-block;
  text-decoration: none;
}
.w .look .userInfo .Login-Loginout a:hover {
  color: #a94eff;
}
.w .look .userInfo .Login-Loginout a:first-child::after {
  content: "";
  border-right: 1px solid #ccc;
  padding-left: 3px;
}
